
.wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 0.1fr 100% auto;
  min-height: 100vh;
}

.header_content{
  grid-column: span 12;
  border: 2px dotted red;
  text-align: center;
}

.side_navbar{
  width: 0;
  position: absolute;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: rgb(196,196,196);
  height: 100%;
}

.main_content {
  grid-column: span 12;
  transition: 0.5s;
}

.footer_content{
  grid-column: span 12;
  text-align: center;
}

.router-outlet{
  transition: 0.5s;
}





