Backend/Database/node_modules
Backend/Database/package-lock.json
Backend/API-Server/cred/
Backend/API-Server/cred/*
Backend/API-Server/config/
Backend/API-Server/config/*
Backend/API-Server/public/*
Backend/API-Server/public/
**/node_modules