.inventory-list{
  overflow: auto;
  width: 100%;
  height: 300px;

}

.inventory-list table{
  overflow: auto;
  width: 100%;
  height: 300px;
}

.item_attributes{
  flex: 1;
  height: 100%;
  padding: 10px;
  border: 1px solid black;
}

.item{
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.media-tabs ::ng-deep .tabList button {
  color: red;

}
#mark{
  width: 10px;
}


#item_image{
  height: 50px;
}

table, th, td {
  border: 1px solid black;
}

table, tr {
  max-height: 25px;
}


th{
  background-color: rgb(23,26,33);
  color: white;
}

tr:nth-child(even) {background-color: #f2f2f2;}


.modal{
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

.modal-content{
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
