input{
  padding: 10px;
  border: none;
  border: 1px solid grey;
  border-radius: 5px;
}

select {
  padding: 5px
}

.inventory-list{
  overflow: auto;
  width: 100%;
  height: 250px;
}

.inventory-list table{
  overflow: auto;
  width: 80%;
  margin: 0 auto;
  height: 300px;
}

.table-header-options{
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.table-header-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#total-items{
  margin-left: 5px;
}

.table-header-buttons button{
  cursor: pointer; 
  width: 150px;
  border: none;
  font-size: 13px;
  font-weight: bolder;
  border-radius: 15px;
  padding: 15px;
  color: white;
  background-color: #3535D0;
  margin: 10px;
  transition: 0.2s;
}

.table-header-buttons button:hover{
  background-color: rgb(51, 45, 45);
}

.item_attributes{
  flex: 1;
  height: 100%;
  padding: 10px;
  border: 1px solid black;
}

.item{
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.media-tabs ::ng-deep .tabList button {
  color: red;

}
#mark{
  width: 10px;
}


#item_image{
  height: 50px;
}

table, th, td {
  border: 1px solid black;
}

table, tr {
  border-collapse: collapse;
  max-height: 25px;
  transition: 0.2s;
}

table tr:hover{
  background-color: lightgray;
}

table tr:active{
  background-color: gray;
}



th{
  background-color: rgb(23,26,33);
  color: white;
}

tr:nth-child(even) {background-color: #f2f2f2;}


#media-name{
  width: 24%;
  white-space: nowrap;
}

#media-price{
  width: 10px;
}

#media-id{
  width: 10px;
}

#media-quantity{
  width: 10px;
}


.media-info {
  display: flex;
  flex-direction: column;
}

.media-info select{
  height:100%;
  overflow: scroll;
}

.media-info input, select {
  margin: 5px;
  flex: 1;
}

.media-info label {
  font-weight: bold;
}

.image-upload{
  display: flex;
  flex-direction: column;
}

.image-upload label{
  font-weight: bold;
}

.modal-footer{
  display: flex;
  justify-content: space-between;
  align-items: end;
  justify-content: end;


}

.modal-footer button{
  margin-left: auto;
}


.image-upload img{
  width: 250px;
  height: auto;
}



#create-button{
  //margin-left: 90%;
  border: none;
  padding: 15px;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  background-color: green;
  transition: 0.2s;
}

#create-button:hover {
  background-color: darkgreen;
}


#create-new-special label{
  font-weight: bold;
}

#create-new-special{
  display: flex;
  flex-direction: column;
}


#create-new-special input{
  margin: 5px;
  flex: 1;
}


