#root_genre_container {
    background-color: rgb(255,255,255); 

    border-left-color:   rgb(170,170,170);
    border-left-style: solid; 
    border-width: 1px; 
 
    height: 550px;
    min-height: 550px;   

    margin-left: 10px;
    margin-right: 10px;
}

#genre_container_header {
    border-bottom-color: rgb(170,170,170);
    border-bottom-style: solid; 
    border-bottom-width: 1px; 
}

#genre_title_container {
    position: relative;
    padding-left: 10px; 

    display: inline-block; // shortens the element to shrink-to-fit the text inside of the div. 
}

#genre_title { 
    color: rgb(0,0,0); 
    
    font-size: 20px; 
}

#search_area_box {
    background-color: rgb(27,27,28); 
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}
