<body>
    <!-- main content -->
    <header id="top_bar_header">
        <!-- header tag contains container (div) -->
        <div id="top_bar_container">
            <!-- contains actual header content -->
            <div id="top_bar_title_container">
                <h1 id="top_bar_title"> Project Title </h1>
            </div>

        </div>

    </header>

    <div id="genre_container">
        <!-- contains other divs with genre content -->
        <div id="genre_title_container">
            <h1 id="genre_title"> Genres </h1>
        </div>
        <div id="genre_dropdown_container">
            <select id="genre_drop_down_box" name="selected_genre">
                <option class="genre_drop_down_option" value="platformer"> Platformer </option>

                <option class="genre_drop_down_option" value="fps"> FPS </option>

                <option class="genre_drop_down_option" value="mmo"> MMO </option>

                <option class="genre_drop_down_option" value="rpg"> RPG </option>

            </select>

        </div>


    </div>

    <footer id="bottom_bar_footer">

    </footer>

</body>
