<div class="home_page_container">
    <!--<a class="twitter-timeline" href="https://twitter.com/Techtronics13?ref_src=twsrc%5Etfw">Tweets by Techtronics13</a> -->

    <div id="home_page_content">
        <div id="section1" class="section">
            <div class="text_portion">
                <h1 id="home_page_title"> Welcome to Techtronics! </h1>
                <h2 id="home_page_subtitle"> We have games and software... </h2>
                <p> We have games for virtually every console and for PC!</p>
            </div>

            <div class="image_portion">
                <div id="img_container1" class="img_container">
                    <img class="img_portion_pic" src="../assets/game_controller.svg">
                </div>
            </div>

        </div>

        <div id="section2" class="section">
            <div class="text_portion">
                <h2 id="home_page_subtitle"> We have hardware... </h2>
                <p>We sell the consoles that people play during class</p>
            </div>

            <div class="image_portion">
                <div id="img_container2" class="img_container">
                    <img class="img_portion_pic" src="../assets/audio_card.svg">

                </div>
            </div>

        </div>

        <div id="section3" class="section">
            <div class="text_portion">
                <h2 id="home_page_subtitle"> We have Video... </h2>
                <p>We have dvds with even <b>ALL</b> the seasons of The Office and even Family Guy!</p>
            </div>

            <div class="image_portion">
                <div id="img_container3" class="img_container">
                    <img class="img_portion_pic" src="../assets/disk.svg">
                </div>
            </div>
        </div>


        <div id="section4" class="section">
            <div id="text_portion_twitter" class="text_portion">
                <h2 id="home_page_subtitle"> Check updates on the store at twitter </h2>
                <a id="twitter-timeline" href="https://twitter.com/Techtronics13?ref_src=twsrc%5Etfw">Tweets by Techtronics13</a>
            </div>


            <div class="image_portion">
                <div id="img_container4" class="img_container">
                    <img class="img_portion_pic" src="../assets/twitter_bird.svg">
                </div>
            </div>
        </div>


    </div>

</div>
