<div id="home_page_container">
    <!--<a class="twitter-timeline" href="https://twitter.com/Techtronics13?ref_src=twsrc%5Etfw">Tweets by Techtronics13</a> -->

    <div id="home_page_content">
        <div id="section1" class="section">
            <div class="text_portion">
                <h1 id="home_page_title"> Welcome to Techtronics! </h1>
                <h2 id="home_page_subtitle"> We have games and software... </h2>
                <p> We have games for virtually every console and for PC!</p>
                <p> We have office work software!</p>
                <p> We have some pokemon games!</p>
            </div> 

            <div class="image_portion">
                <div id="img_container1" class="img_container">
                    <img class="img_portion_pic" draggable="false" src="../assets/game_controller.svg">
                </div> 
            </div>

        </div>

        <div id="section2" class="section"> 
            <div class="text_portion"> 
                <h2 id="home_page_subtitle"> We have hardware... </h2> 
                <p>We sell consoles</p>
                <p>We sell pc components!</p>
                <p>We have gaming controllers!</p>
                <p>We have gaming racer wheels!</p>
            </div> 

            <div class="image_portion">
                <div id="img_container2" class="img_container">
                    <img class="img_portion_pic" draggable="false" src="../assets/audio_card.svg">
                    
                </div> 
            </div>

        </div>

        <div id="section3" class="section">
            <div class="text_portion">
                <h2 id="home_page_subtitle"> We have movies and tv... </h2> 
                <p>We got The Office!</p>
                <p>We got Family Guy!</p>
                <p>Also we do not sell the Adventures of Pluto Nash! </p>
            </div> 

            <div class="image_portion">
                <div id="img_container3" class="img_container">
                    <img class="img_portion_pic" draggable="false" src="../assets/disk.svg">
                </div>
            </div> 
        </div>
        
        <div id="section4" class="section"> 
            <div id="text_portion_twitter" class="text_portion">  
                <h2 id="home_page_subtitle"> Check updates on the store at </h2>
                <h2 id="home_page_subtitle"> <a id="twitter_link"  href="https://twitter.com/Techtronics13"> @Techtronics13 </a> on twitter! </h2> 
                <!--<a id="twitter-timeline" href="https://twitter.com/Techtronics13?ref_src=twsrc%5Etfw">Tweets by Techtronics13</a>-->
            </div> 

            <div class="image_portion">
                <div id="img_container4" class="img_container">
                    <img class="img_portion_pic" draggable="false" src="../assets/twitter_bird.svg">
                </div>
            </div>
        </div>


    </div>

</div>
