#header_content {
    height: 100%; 
    min-height: 100%; 

    background-color: rgb(23,26,33); 
}

#search_bar {
    position: relative; 
    left: 5px;
    top: 5px;

    padding-left: 5px;

    height: 35px; 
    min-height: 35px;

    width: 400px;
    min-width: 400px;

    border-radius: 1px;
    border-style: solid;
    border-color: rgb(0,0,0);

}
