#header_content {
    justify-content: left;
    display: flex;
    flex-grow: 1;
    flex-direction: row;

    height: 100%;
    min-height: 100%;

    background-color: rgb(23,26,33);

}

#search_container {
  width: 50%;
  margin-right: 20px;
}

#search_bar {
    flex: 1 1 auto;
    margin: 5px;
    left: 5px;
    top: 5px;

    padding-left: 5px;

    height: 35px;
    min-height: 35px;

    width: 100%;

    border-radius: 4px;
    border-bottom-style: solid;
    border-width: 0.3px;

    border-color: rgb(0,0,0);

}


.navigation{
  margin-top: 14px;
}

#logo {
  margin-right: 0px;
}

.title{
  color: white;
  margin-top: 10px;
  padding-left: 10px;
  font-size: 25px;
  text-align: center;
  user-select: none;
}

.navbutton{
  padding: 15px;
  background-color: rgb(23,26,33);
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: large;
  border: none;
  transition: 0.1s;

  flex: none;
}

.navbutton:hover{
  background-color: rgb(45, 50, 64);
}

