<nav id="header_content">
  <div id="logo">
    <h1 class="title" routerLink="">Techtronics</h1>
    <img src="">
  </div>

    <div id="search_container">
        <input id="search_bar" #searchBox type="text" (keyup.enter)='search(searchBox.value)' placeholder="Search for product...">
    </div>


    <div class="navigation">


      <a *ngIf="auth.isEmployee()" routerLink="controlpanel" class="navbutton">Control Panel</a>
      <a *ngIf="auth.isAuthenticated()" routerLink="profile" class="navbutton">Profile</a>

      <a *ngIf="!auth.isAuthenticated()" routerLink="login" class="navbutton">Login</a>
      <a *ngIf="auth.isAuthenticated()" (click)="onLogOut()" class="navbutton">Logout</a>


    </div>





</nav>
