#header_content {
    justify-content: space-between;
    display: flex;
    flex-grow: 1;
    flex-direction: row;



    height: 100%;
    min-height: 100%;

    background-color: rgb(23,26,33);

    white-space: nowrap;

}


#search_bar {
    flex: 1 1 auto;
    margin: 5px;
    left: 5px;
    top: 5px;

    padding-left: 5px;

    height: 35px;
    min-height: 35px;

    width: 1000px;


    border-radius: 1px;
    border-left-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 0.3px;

    border-color: rgb(0,0,0);

}


.navigation{
  margin-top: 14px;
}


.title{
  color: white;
  margin-top: 10px;
  padding-left: 10px;
  font-size: 25px;
  text-align: center;
  user-select: none;
}

.navbutton{
  padding: 15px;
  background-color: rgb(23,26,33);
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: large;
  border: none;
  transition: 0.1s;
}

.navbutton:hover{
  background-color: rgb(45, 50, 64);
}

