#order_history_content {
    padding-top: 25px;

    display: flex;
    justify-content: center;
}

#order_page_content {
    max-width: 1080px;
    flex-grow: 0.8;
}

h2, h3 {
    margin: 0px;
}

.order_item {
    border-style: solid;
    border-color: rgb(0,0,0);
    border-width: 2px;
    border-radius: 4px;

    min-height: 110px;
    max-height: 110px;

    padding: 5px;

    margin-bottom: 10px;

    display: flex;

    justify-content: baseline;
}

.order_media_content {
    flex-grow: 1;
    font-size: 13px;

    border-style: solid;
    border-color: rgb(0,0,0);
    border-width: 2px;
    border-radius: 4px;

    padding: 5px;

    overflow: auto;
}

.order_information {
    margin-right: 20px;
    white-space: nowrap;
}

.product_attr_title {
    font-size: 15px;
    color: rgb(146, 146, 146);
    margin: 0px;
}

.product_attribute {
    font-size: 20px;
    margin: 0px;
}

#table_header {
    text-align: left;
}

table {
    border-spacing: 10px;
}

th, td {
    white-space: nowrap;
    border-bottom: 1px solid black;
}