<div class="main">
  <div class="platform">
    <div class="section_header">
      <h3>PLATFORM</h3>
    </div>
    <div class="content">
      <div class="router">
        <ul>
          <li><a [routerLink]="['hardware', 'computers']">Computers</a></li>
          <li><a [routerLink]="['hardware', 'nintendo']">Nintendo</a></li>
          <li><a [routerLink]="['hardware', 'playstation']">Playstation</a></li>
          <li><a [routerLink]="['hardware', 'sega']">Sega</a></li>
          <li><a [routerLink]="['hardware', 'xbox']">Xbox</a></li>
        
        </ul>
      </div>

    </div>

  </div>

</div>
