<div class="main">
  <div class="platform">
    <div class="section_header">
      <h3>PLATFORM</h3>
      
    </div>
    <div class="content">
      <div class="router">
        <ul> 
          <li [routerLink]="['hardware', 'computers']">Computers</li>
          <li [routerLink]="['hardware', 'nintendo']">Nintendo</li>
          <li [routerLink]="['hardware', 'playstation']">Playstation</li>
          <li [routerLink]="['hardware', 'sega']">Sega</li>
          <li [routerLink]="['hardware', 'xbox']">Xbox</li>
       
        </ul>
      </div>

    </div>

  </div>

</div>
