.spinner{
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 75px;
  height:  75px;
  margin: 25% auto;
  animation: spin 2s linear infinite;
}

.modal{
background-color: rgba(0,0,0,0.2);
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
height: 100%;
width: 100%;
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
