<div id="side_nav_content"> 

    <header id="side_nav_header">
        <div id="header_title_container">
            <h1 id="header_title"> MENU </h1>
        </div>

    </header> 

    <ul id="nav_menu_options"> 
        <li class="menu_option"> <a class="option_link"> <div class="ol_container"> COMPUTERS </div> </a> </li>
        <li class="menu_option"> <a class="option_link"> <div class="ol_container"> NINTENDO </div> </a> </li>
        <li class="menu_option"> <a class="option_link"> <div class="ol_container"> PLAYSTATION </div> </a> </li>
        <li class="menu_option"> <a class="option_link"> <div class="ol_container"> SEGA </div> </a> </li>
        <li class="menu_option"> <a class="option_link"> <div class="ol_container"> XBOX </div> </a> </li>
        
    </ul>

</div>