.items {
    display: flex; // using flex so we can have a flexible grid layout for the media items
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;  // center the content so it doesn't look jank with uneven whitespace
}


#item_image img { 
  height: 150px;
}

.item {
  cursor: pointer;
  padding: 12px;
  flex-basis: 21%;
  margin: 10px;

  border-style: solid;   
  border-color: rgb(0,0,0); 
  border-radius: 4px;
  border-width: 2px;

  background-color: white;

  height: 100%;

  transition: 0.2s; // background color transition
}


.item:hover { 
  background-color: gainsboro;
}

.item_attributes { // associated with div of attributes

    overflow: hidden;
}




.pagination{  // center the pagination module

}

.no_item_message {
  color: #171a21;
  margin-left: 20px;
  display: inline;
  user-select: none;
}

.no_item_msg_icon { 
  position: relative; 
  top: 10px;
  left: 10px;
  display: inline-block;
}

.no_item_msg_icon fa-icon {
  font-size: 60px;
  color: #171a21; 
}