.items {
    display: flex; // using flex so we can have a flexible grid layout for the media items
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;  // center the content so it doesn't look jank with uneven whitespace
}


#item_image img{
  height: 150px;
}

.item {
  cursor: pointer;
  padding: 12px;
  border-radius: 1%;
  flex-basis: 25%;
  margin: 10px;

  // border: 2px solid black;  // temp border to visualize the objects
  background-color: white;

  height: 100%;

  transition: 0.2s; // background color transition
}


.item:hover{
  background-color: gainsboro;
}

.item_attributes { // associated with div of attributes

    overflow: hidden;
}




.pagination{  // center the pagination module

}
