#not_found_content {
    
}

h1 {
    font-size: 40px;
    color: #171a21;
    justify-content: center;
    display: flex; 
}

#vid_container {
    justify-content: center;
    display: flex; 
}

iframe {  
    display: flex;
    flex-direction: column;
    justify-content: center;
}