/* You can add global styles to this file, and also import other style files */
html, body { // default margin is 8px generally speaking so I set it to 0.
    overflow: hidden; 
    
    min-height: 100%;
    height: 100%; 

    margin: 0px;

    background-color: rgb(255,255,255); 
}