#product_page_container {
    display: flex;
    justify-content: center;

    padding-top: 25px;
    
}

#back_button {
    position: relative;
    left: -30px;
    top: 30px;

    height: 60px;

    border-radius: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(122,122,122); 

    box-shadow: 0px 1px rgb(17, 17, 17);
}

#main_content {
    height: 800px;

    width: 100%;
    max-width: 1280px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

#product_information {
    margin-left: 20px;
    margin-right: 20px;
    flex-grow: 1;
}

.rating_star {
    display: inline;
    color: #171a21;
    font-size: 25px;
}

#product_name {
    font-size: 25px;
}

.attribute_container {
    border-style: solid;
    border-color: #171a21;
    border-width: 1px;
    border-radius: 4px;

    padding: 5px;

    flex: 0.8;

    margin-bottom: 10px;
}

#product_name {
    margin: 0px;
}

.product_attr_title {
    font-size: 15px;
    color: rgb(146, 146, 146);
    margin: 0px;
}

.product_attribute {
    font-size: 20px;
    margin: 0px;
}

#product_image {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: #171a21;

    max-height: 350px;
    max-width: 450px; // this as well.

    display: flex;
    flex: 0.8;

    margin: auto;
}

.pagination-controls ::ng-deep .ngx-pagination {
  padding: 0px;
  display: flex;
  justify-content: center;
}


#product_author {
    font-size: 18px;
}

#add_to_cart {
    cursor: pointer;
    width: 100%;
    height: 40px;

    border-style: none;
    border-radius: 4px;

    color: rgb(255,255,255);

    font-size: 15px;

    background-color: #42c277;

    text-decoration: none;
}



#add_to_cart:hover {
    background-color: #46c279;
}

#add_to_cart:active{
	border: 5px solid #3ea761;
	background:none;
    outline:none;
    background-color: #3bb36d;
	padding:0;
}

star-rating {
    cursor: default;
}