<div *ngIf="media" id = "product_page_container">
    <!-- this image will be a button -->


    <div id = "main_content">

        <div class="image-container">
          <img (mousemove)="hoverEvent($event)" *ngFor="let image of media.images | paginate: {  itemsPerPage: 1, currentPage: selectedImage, totalItems: media.images.length}" id = "product_image"  draggable="false" [src]="'http://3.234.246.29:8081/api/uploads/media/' + media.Media_ID + '/' + image">
          <pagination-controls *ngIf="media.images.length > 0" class="pagination-controls" (pageChange)="changeImage($event)"></pagination-controls>
        </div>


        <div id = "product_information">

            <div class = "attribute_container">
                <h1 id = "product_name"> {{media.Name}} </h1>
                <h2 id ="product_author" class="product_attribute">   </h2>
            </div>

            <div class = "attribute_container">
                <h3 class="product_attr_title"> Platform </h3>
                <h3 id="product_platform" class="product_attribute"> {{media.Platform}}</h3>
            </div>

            <div class = "attribute_container">
                <h3 class="product_attr_title"> Price </h3>
                <h3 id="product_price" class="product_attribute"> ${{media.Price}} </h3>
            </div>

            <div class = "attribute_container">
                <h3 class="product_attr_title"> User Rating </h3>
                <div class = "user_rating_container">
                    <fa-icon class="rating_star" #rating_star1 id= "rating_star1" [icon]="star"></fa-icon>
                    <fa-icon class="rating_star" #rating_star2 id= "rating_star2" [icon]="star"></fa-icon>
                    <fa-icon class="rating_star" #rating_star3 id= "rating_star3" [icon]="star"></fa-icon>
                    <fa-icon class="rating_star" #rating_star4 id= "rating_star4" [icon]="star"></fa-icon>
                    <fa-icon class="rating_star" #rating_star5 id= "rating_star5" [icon]="star"></fa-icon>
                </div> 
            </div>

            <input [disabled]="storage.cartContains(media)" type="button" id="add_to_cart" (click)="addToCart(media)" value="ADD TO CART">
        </div>


    </div>

</div>
