<div *ngIf="media" id = "product_page_container">
    <!-- this image will be a button -->


    <div id = "main_content">
        <!-- *ngIf="media.images[0]" [src]="media.images[0]" -->
        <img id = "product_image" draggable="false" *ngIf="media.images[0]" [src]="'http://3.234.246.29:8081/api/uploads/' + 'media/' + media.Media_ID + '/' + media.images[0]">
        <div id = "product_information">
            
            <div class = "attribute_container">
                <h1 id = "product_name"> {{media.Name}} </h1> 
                <h2 id ="product_author">   </h2>   
            </div>
            
            <div class = "attribute_container">
                <h3 class="product_attr_title"> Platform </h3>
                <h3 id="product_platform" class="product_attribute"> {{media.Platform}}</h3>
            </div>

            <div class = "attribute_container">
                <h3 class="product_attr_title"> Price </h3>
                <h3 id="product_price" class="product_attribute"> ${{media.Price}} </h3> 
            </div>

            <div class = "attribute_container">
                <h3 class="product_attr_title"> User Rating </h3>
                <div class = "user_rating_container"> 
                    <fa-icon class="rating_star" [icon]="star"></fa-icon>
                    <fa-icon class="rating_star" [icon]="star"></fa-icon>
                    <fa-icon class="rating_star" [icon]="star"></fa-icon>
                    <fa-icon class="rating_star" [icon]="star"></fa-icon>
                    <fa-icon class="rating_star" [icon]="star"></fa-icon>
                </div> 
            </div>

            <input type="button" id="add_to_cart" value="ADD TO CART">
        </div> 


    </div>

</div>
