
<fa-icon title="Edit" [icon]="editIcon" (click)="editMode = !editMode" id="edit-item-icon"></fa-icon>
<fa-icon [icon]="removeIcon" (click)="deleteItem()" id="remove-product"></fa-icon>

<div *ngIf="media.images.length > 0" id="images-container">
  <label id="images-label">Images</label>

  <div  id="product-images">
    <img
      *ngFor="let image of media.images | paginate: {  itemsPerPage: 1, currentPage: selectedImage, totalItems: media.images.length}"
      id="product_image" draggable="false"
      [src]="'http://3.234.246.29:8081/api/uploads/media/' + media.Media_ID + '/' + image">
    <pagination-controls *ngIf="media.images.length > 0" class="pagination-controls" (pageChange)="changeImage($event)">
    </pagination-controls>
  </div>

  <div *ngIf="editMode" id="add-new-images">
    <label>Add new Image</label>
    <input type="file">
  </div>

</div>

<label id="type-header">Media Information</label>
<hr>

<div id="product_info">

  <div (change)="update($event.target.name)" *ngIf="editMode" id="editMode">
    <p>Name: <input name="Name" [formControl]="getField('Name')"></p>
    <p>Condition: <input name="Condition" [formControl]="getField('Condition')"></p>
    <p>Price: <input type="number" name="Price" [formControl]="getField('Price')"></p>
    <p>Quantity: <input type="number" name="Quantity" [formControl]="getField('Quantity')"></p>
    <p>Type: {{media.Type}}</p>
  </div>

  <div id="viewMode" *ngIf="!editMode">

    <p>Condition: {{media.Condition}}</p>
    <p>Price: {{media.Price}}</p>
    <p>Quantity: {{media.Quantity}}</p>
    <p>Type: {{media.Type}}</p>


  </div>

  <label id="type-header">{{media.Type}} Information</label>
  <hr id="test">

  <div (change)="update($event.target.name)" *ngIf="editMode" id="editMode">

    <div *ngIf="media.Type === 'Game'">
      <p>Genre: <input name="Game_Genre" [formControl]="getField('Game_Genre')"></p>
      <p>ESRB: <input name="ESRB_Rating" [formControl]="getField('ESRB_Rating')"></p>
    </div>

    <div *ngIf="media.Type === 'Video'">
      <p>Genre: <input name="Video_Genre" [formControl]="getField('Video_Genre')"></p>
      <p>MPAA: <input name="MPAA_Rating" [formControl]="getField('MPAA_Rating')"></p>
    </div>

    <div *ngIf="media.Type === 'Hardware'">
      <p>Type: <input name="Hardware_Type" [formControl]="getField('Hardware_Type')"></p>
    </div>

    <div *ngIf="media.Type === 'Software'">
      <p>Type: <input name="Software_Type" [formControl]="getField('Software_Type')"></p>
    </div>


  </div>




  <div *ngIf="!editMode" id="viewMode">

    <div *ngIf="media.Type === 'Game'">
      <p>Genre: {{media.Game_Genre}}</p>
      <p>ESRB: {{media.ESRB_Rating}}</p>
    </div>

    <div *ngIf="media.Type === 'Video'">
      <p>Genre: {{media.Video_Genre}}</p>
      <p>MPAA: {{media.MPAA_Rating}}</p>
    </div>

    <div *ngIf="media.Type === 'Hardware'">
      <p>Type: {{media.Hardware_Type}}</p>
    </div>

    <div *ngIf="media.Type === 'Software'">
      <p>Type: {{media.Software_Type}}</p>
    </div>

  </div>


</div>



<div *ngIf="editMode" id="footer">
  <hr>
  <button  (click)="saveChanges($event)">Save Changes</button>
</div>
