<div class="container">

  <div class="welcome_header">
    <h1>Welcome</h1>
  </div>

  <div class="news_section">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tortor enim, viverra ut faucibus sed, luctus vel nulla. Curabitur lorem ante, aliquam imperdiet convallis eget, ornare eu lorem. Pellentesque condimentum, nisi facilisis consectetur pretium, ex nisl facilisis justo, sit amet faucibus quam erat at sapien. Phasellus non lacus vulputate, vehicula ex gravida, viverra nulla. Ut sagittis mi nibh, iaculis venenatis leo rhoncus quis. Cras iaculis felis urna, vitae euismod massa fringilla et. Vestibulum urna magna, convallis vitae porta nec, suscipit interdum nunc. Aliquam finibus non nibh id laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elit sem, commodo eu elementum et, porta non sem. Nam accumsan lacus lacinia, pretium dolor scelerisque, efficitur dolor. Curabitur eu dui vel nisl aliquam varius a consequat elit.

      Suspendisse ultrices aliquet malesuada. Pellentesque eget commodo ligula. Vestibulum in turpis dui. Curabitur finibus sem nec justo luctus laoreet. Integer iaculis malesuada arcu sit amet mollis. Nullam imperdiet sed dolor a sodales. Etiam et massa vel erat blandit convallis. Fusce nec massa eu ipsum condimentum sagittis sit amet non tortor. Integer rhoncus, odio pretium congue scelerisque, nunc nibh convallis nibh, id porta tortor orci quis massa. Sed interdum sollicitudin turpis, quis facilisis augue venenatis vel. Maecenas sit amet nisi est. Cras commodo ac nunc ac bibendum. Curabitur faucibus fermentum nulla, rutrum sollicitudin sapien scelerisque vel. Aenean dictum facilisis arcu, vitae posuere tellus ultricies vel. Sed scelerisque eros non aliquam vehicula. In in sem pretium, viverra odio ut, convallis dui.

      Cras sit amet commodo risus. Cras consequat, nunc nec commodo sodales, diam ante venenatis leo, eu imperdiet mi justo nec mauris. Cras varius ex pulvinar, pulvinar odio quis, vestibulum urna. Suspendisse vel laoreet metus. Sed ultrices, ante sit amet suscipit fringilla, mi eros molestie neque, eget pulvinar purus massa eu risus. In eget feugiat metus. Integer congue mattis augue. Sed porttitor molestie interdum. Pellentesque finibus enim nec malesuada gravida. Cras pretium consequat justo sed interdum.

      Nulla eget ex lectus. Maecenas ut lobortis dui. Praesent in nisi turpis. Mauris nec sapien egestas, rutrum magna sit amet, posuere justo. Mauris vehicula cursus lorem at ultricies. Morbi sed elit at ex facilisis tempor eget in orci. Morbi at rhoncus lectus. Suspendisse ac porttitor purus, a volutpat diam.

      Sed pharetra id eros dictum pharetra. Ut vulputate orci porta, elementum odio a, convallis orci. Nam in eros sit amet tortor lacinia scelerisque. Nulla a est aliquam est aliquam fermentum non quis arcu. Nunc scelerisque nulla sit amet dui accumsan gravida. Sed tellus neque, ultrices at tempus a, sagittis at elit. Duis a enim mi.
    </p>


  </div>

  <div class="new_stock_and_deals">
    <div class="deal">

    </div>
  </div>

</div>
