#root_footer_container {
    background-color:  rgb(255,255,255);

    border-top-style: solid;
    border-top-color:  rgb(170,170,170);
    border-top-width: 1px;

    height: 100%;

    overflow: hidden;

    clear: right;
}

#footer_content {
}

p {
    color: rgb(0,0,0);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
