.main_content
{
  margin-left: 25%;
  margin-right: 25%;
}

.login{
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
}

#loginTitle{
  text-align: center;
}

#username_input{
  padding-bottom: 10px;
}

#password_input{
  padding-bottom: 10px;
}

#login_button{
  margin: 0 auto;
  display: block;
}

#submit_button{
  padding-top: 15px;
}

#login_form{
  display: block;
}

#username{
  display: block;
}

#error{
  display: block;
}

#password{
  display: block;
}
