<div class='main_content'>
  <div class="login">

    <!-- login form (still need to learn more about reactive form validation but whatever)-->

    <form id="login_form" #form="ngForm" (ngSubmit)="onLogin(form.value)" >
      <h3 id="loginTitle">Login</h3>

      <!--Username input for login-->

      <label>Username</label>
      <div id="username_input">
        <input id="username" type="text" placeholder="Username" ngModel name="Username" #username="ngModel" required>

        <fa-icon [icon]="user"></fa-icon>
        <small id = "error" *ngIf="submitted && username.errors.required">Username is Required</small>
      </div>

      <!--Password input for login-->

      <label>Password</label>
      <div id="password_input">

        <input id="password" type="password" placeholder="Password" ngModel name="Password" #password="ngModel" required>

           <!--Fontawesome icon for the login for design purposes-->

        <fa-icon [icon]="lock"></fa-icon>
        <small id="error" *ngIf="submitted && password.errors.required">Password is Required</small>
      </div>


      <div id="login_button">

        <button class="button" id="login" type="submit">Login</button>

      </div>
    </form>
  </div>
</div>
