
  <div class="reset-container">


    <div class="reset-form">
      <h2>Reset Password</h2>

      <form #form="ngForm" (ngSubmit)="onReset(form.value)">
        <div class="form-item">
          <label>New Password</label>
          <input id="password-input" ngModel #password="ngModel" name="password" type="password" required>

          <label>Confirm Password</label>
          <input id="password-input" ngModel #confirm="ngModel" name="confirm" type="password" required>


        </div>

        <hr>

        <div class="footer">
          <button type="submit" id="submit-button">Submit</button>
        </div>


      </form>
    </div>


</div>




